
#header{
    padding: 0 !important;
}
#header.initial-state{
    padding: 0 !important;
}
.slider{
    position: relative;
}
.slider .content-container{
    position: absolute;
    left:50%;
    transform:translateX(-40%);
    
}
.slider .content-container h2{
    font-size: 80px !important;
    color: #fff;
}
.slider .content-container h2 span.alt{
    font-size: 80px !important;
    font-weight: bolder;
    color: blue;
}
.slider .link-container {
    padding: 10px 15px;
    border: 2px solid #fff;
    margin: 100px auto !important;
    width: 240px;
    text-align: center !important;
}
.slider .link-container a:link,a:visited{
    color: #fff;
    text-decoration: none !important;
    
}
.slider .link-container:hover {
    padding: 10px;
    background: #fff;
}
.slider .link-container:hover a:link,a:visited{
    color: blue;
    padding:20px;
}
#about{
    background: url('/wp-content/themes/dazzle/assets/images/about-bg.png') bottom no-repeat ;
}
#about .dt-title-wrapper{
    padding-top: 150px;
    background: url('/wp-content/themes/dazzle/assets/images/perfil.png') center top no-repeat ; ;
}
#about .dt-title-wrapper h2{
    font-size:20px;
    font-weight: bolder;
}
.logo-igs{
    background: url('/wp-content/themes/dazzle/assets/images/igs-logo.png') center no-repeat;
    width: 260px;
    height: 120px;
}
#quote{
    background: url('/wp-content/themes/dazzle/assets/images/quote-bg.png') bottom no-repeat ;
}
span.quote-author{
    font-family: Arial;
    text-align: right;
    font-style:italic;
    font-size:16px;
}
#process{
    background: #fff !important;
}
.menu-fixer{
    height:150px !important;
}
#work .grid-item-on-hover{
    background: rgba(0,0,0,0.6);
}
#work .grid-item-on-hover .grid-text{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin:0 !important;
    
}
#work .grid-item-on-hover .grid-text h3,.grid-item-cat{
    color:#fff !important;
}
footer{
    padding:15px 0 !important;
}
footer a:link,a:visited{
    color: #fff !important;
}
footer .site-info{
    color:#fff !important;
}